body{
    width: 1440px;
    height: 3249px;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-right: 48px;
    padding-left: 48px;
}
.container{
    height: 80px;
    width: 1344px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #ECF6FE;
    border-bottom: 1px solid #440A8F;
    padding-right: 48px;
    padding-left: 48px;
}
.container2{
    height: 3001px;
    width: 1344px;
    background-color: #ECF6FE;
    padding-right: 48px;
    padding-left: 48px;
}

















.title{
    height: 48px;
    width: 360px;
    gap: 12px;
}
h1{
    height: 27px;
    font-family: Syne;
    font-size: 42px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: -4%;
    color: #381664;
}
.title2{
    display: flex;
    flex-direction: row;
    gap: 32px;
    height: 32px;
    width: 476px;
}
h2{
    font-family: Syne;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #381664;
}
.container3{
    width: 1344px;
    height: 168px;
    background-color: #ECF6FE;
    padding-right: 48px;
    padding-left: 48px;
    border-top: 1px;
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.foot{
    height: 48px;
    width: 1344px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.f1{
    width: 240px;
    height: 32px;
    gap: 32px;
}
h3{
    font-family: Syne;
    font-weight: 500;
    size: 28px;
    line-height: 32px;
    letter-spacing: 1%;
    color: #381664;
    width: 240px;
    height: 32px;
}
.f2{
    width: 134px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #440A8F;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    width: 86px;
    height: 24px;
    font-family: Space Mono;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #381664;
}