body{
    width: 1440px;
    height: 3249px;
    min-height: 900px;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-right: 48px;
    padding-left: 48px;
}
/* First Container */
.container{
    height: 80px;
    width: 1344px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #ECF6FE;
    border-bottom: 1px solid #440A8F;
    padding-right: 48px;
    padding-left: 48px;
    margin: 0;
}
.title{
    height: 48px;
    width: 360px;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    height: 27px;
    font-family: Syne;
    font-size: 42px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: -4%;
    color: #381664;
}
.title2{
    display: flex;
    flex-direction: row;
    gap: 32px;
    height: 32px;
    width: 476px;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
h2{
    font-family: Syne;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #381664;
}
/* Second Container */
.container2{
    height: 3001px;
    width: 1344px;
    background-color: #ECF6FE;
    padding: 48px;
    margin: 0;
}
.content{
    height: 2905px;
    width: 1344px;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.first{
    height: 1152px;
    width: 1344px;
    border-bottom: 1px;
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 48px;
    padding-bottom: 0;
}
h5{
    height: 240px;
    width: 1344px;
    font-family: Syne;
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    letter-spacing: -2%;
    text-align: center;
    color: #381664;
    margin-bottom: 48px;
    margin-top: 0;
}
.s1{
    height: 672px;
    width: 1344px;
    border: 1px solid #440A8F;
    border-radius: 22px;
    margin: 0;
}
.second{
    height: 1191px;
    width: 1344px;
    border-bottom: 1px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 0;
}
.row1{
    height: 429px;
    width: 1344px;
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 48px;
    display: flex;
    flex-direction: row;
    
}
.proj{
    width: 416px;
    height: 333px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}
.text{
    width: 416px;
    height: 48px;
}
.toph{
    width: 416px;
    height: 24px;
    font-family: Familjen Grotesk;
    font-weight: 400;
    line-height: 24px;
    font-size: 20px;
    color: #381664;
    margin: 0;
    padding: 0;
}
.bottomh{
    width: 416px;
    height: 24px;
    font-family: Familjen Grotesk;
    font-weight: 400;
    line-height: 24px;
    font-size: 17px;
    color: #381664;
    margin: 0;
    padding: 0;
}
.row2,.row3{
    width: 1344px;
    height: 381px;
    padding-bottom: 48px;
    gap: 48px;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.midimg{
    width: 416px;
    height: 277px;
    border: 1px solid #440A8F;
    margin: 0;
}
.third{
    height: 250px;
    width: 1344px;
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
}
.space{
    width: 648px;
    height: 154px;
}
.para{
    width: 648px;
    height: 154px;
    font-family: Familjen Grotesk;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.5%;
    color: #381664;
}
.fourth{
    height: 312px;
    width: 1344px;
    border-bottom: 1px;
    padding: 48px 0 48px 0;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.tophead{
    width: 900px;
    height: 32px;
    max-width: 900px;
    font-family: Syne;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1%;
    color: #381664;
    margin: 0;
    padding: 0;
}
.bothead{
    width: 900px;
    height: 160px;
    max-width: 900px;
    gap: 48px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.bot1{
    width: 268px;
    height: 84px;
    margin: 0;
    padding: 0;
}
.bot2{
    width: 268px;
    height: 56px;
    margin: 0;
    padding: 0;
}
.bot3{
    width: 268px;
    height: 56px;
    margin: 0;
    padding: 0;
}
.fourtext{
    width: 268px;
    height: 28px;
    font-family: Familjen Grotesk;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #381664;
    margin: 0;
    padding: 0;
}


















/* Third */
.container3{
    width: 1344px;
    height: 168px;
    background-color: #ECF6FE;
    padding: 96px 48px 24px 48px;
    border-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    margin: 0;
}
.foot{
    height: 48px;
    width: 1344px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.f1{
    width: 240px;
    height: 32px;
    gap: 32px;
}
h3{
    font-family: Syne;
    font-weight: 500;
    size: 28px;
    line-height: 32px;
    letter-spacing: 1%;
    color: #381664;
    width: 240px;
    height: 32px;
}
.f2{
    width: 134px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #440A8F;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    width: 86px;
    height: 24px;
    font-family: Space Mono;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #381664;
}