body{
    width: 1440px;
    height: 3249px;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 0 48px 0 48px;
    top: -1152px;
    left: -97px;
    transition: transform 0.3s ease;
}
/* First Container */
.container{
    height: 80px;
    width: 1344px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ECF6FE;
    border-bottom: 1px solid #440A8F;
    padding: 16px 48px 16px 48px;
    transition: transform 0.3s ease;
}
.title{
    height: 48px;
    width: 360px;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    height: 27px;
    font-family: Syne;
    font-size: 42px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: -4%;
    color: #381664;
    text-shadow: 1px 1px 2px rgba(56,22,100,0.66);
}
.title2{
    display: flex;
    flex-direction: row;
    gap: 32px;
    height: 32px;
    width: 476px;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
h2{
    font-family: Syne;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #381664;
    text-shadow: 3px 3px 4px rgba(56,22,100,0.66);
    transition: transform 0.3s ease;
}
h2:hover{
    cursor: pointer;
    font-weight: 600;
    filter: saturate(2.7);
    padding: 8px;
    border-radius: 12px;
    box-shadow: 0 11px 12px rgba(0, 0, 0, 0.4), 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}
/* Second Container */
.container2{
    height: 3001px;
    width: 1344px;
    background-color: #ECF6FE;
    padding: 48px;
    margin: 0;
    transition: transform 0.3s ease;
}
.content{
    height: 2905px;
    width: 1344px;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.first{
    height: 1152px;
    width: 1344px;
    border-bottom: 1px;
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 48px;
}
h5{
    height: 240px;
    width: 1344px;
    font-family: Syne;
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    letter-spacing: -2%;
    text-align: center;
    color: #381664;
    margin-bottom: 48px;
    margin-top: 0;
    text-shadow: -3px 4px 4px rgba(56,22,100,0.61);
}
.s1{
    height: 672px;
    width: 1344px;
    border: 1px solid #440A8F;
    border-radius: 22px;
    margin: 0;
}
.second{
    height: 1191px;
    width: 1344px;
    border-bottom: 1px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 0;
}
.row1{
    height: 429px;
    width: 1344px;
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 48px;
    display: flex;
    flex-direction: row;
}
.proj{
    width: 416px;
    height: 333px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}
img{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4), 0 20px 40px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}
img:hover {
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.7), 0 30px 60px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px) translateX(9px);
    cursor: pointer;
    filter: saturate(1.5);
    border-radius: 20px;
}
.text{
    width: 416px;
    height: 48px;
}
.toph{
    width: 416px;
    height: 24px;
    font-family: Familjen Grotesk;
    font-weight: 400;
    line-height: 24px;
    font-size: 20px;
    color: #381664;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease;
    text-shadow: -3px 4px 4px rgba(56,22,100,0.61);
}
.toph:hover{
    cursor: pointer;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateX(8px);
}
.bottomh{
    width: 416px;
    height: 24px;
    font-family: Familjen Grotesk;
    font-weight: 400;
    line-height: 24px;
    font-size: 17px;
    color: #381664;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease;
    text-shadow: -2px 2px 9px rgba(56,22,100,0.61);
}
.row2,.row3{
    width: 1344px;
    height: 381px;
    padding-bottom: 48px;
    gap: 48px;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.midimg{
    width: 416px;
    height: 277px;
    border: 1px solid #440A8F;
    margin: 0;
}
.third{
    height: 250px;
    width: 1344px;
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
}
.space{
    width: 648px;
    height: 154px;
}
.para{
    width: 648px;
    height: 154px;
    font-family: Familjen Grotesk;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.5%;
    color: #381664;
    transition: transform 0.3s ease;
}
.parahead{
    transition: transform 0.3s ease;
}
.parahead:hover{
    filter: saturate(2);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateX(-12px);
    border-radius: 10px;
    padding: 0 3px 0 3px;
    margin: 0;
    
}
.fourth{
    height: 312px;
    width: 1344px;
    border-bottom: 1px;
    padding: 48px 0 48px 0;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.tophead{
    width: 900px;
    height: 32px;
    max-width: 900px;
    font-family: Syne;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1%;
    color: #381664;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease;
}
.tophead:hover{
    filter: saturate(3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(-6px);
    font-weight: 720;
}
.bothead{
    width: 900px;
    height: 160px;
    max-width: 900px;
    gap: 48px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.bot1{
    width: 268px;
    height: 84px;
    margin: 0;
    padding: 0;
}
.bot2{
    width: 268px;
    height: 56px;
    margin: 0;
    padding: 0;
}
.bot3{
    width: 268px;
    height: 56px;
    margin: 0;
    padding: 0;
}
.fourtext{
    width: 268px;
    height: 28px;
    font-family: Familjen Grotesk;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #381664;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease;
}
.fourtext:hover{
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateX(8px);
    border-radius: 5px;
}

/* Third */
.container3{
    width: 1344px;
    height: 168px;
    background-color: #ECF6FE;
    padding: 96px 48px 24px 48px;
    border-top: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    margin: 0;
    transition: transform 0.3s ease;
}
.foot{
    height: 48px;
    width: 1344px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.f1{
    width: 240px;
    height: 32px;
    gap: 32px;
}
h3{
    font-family: Syne;
    font-weight: 500;
    size: 28px;
    line-height: 32px;
    letter-spacing: 1%;
    color: #381664;
    width: 240px;
    height: 32px;
}
.f2{
    width: 134px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #440A8F;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
    cursor: pointer;
}
.f2:hover{
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.4), 0 30px 60px rgba(0, 0, 0, 0.2);
    transform: translateX(-6px) translateY(-3px) translateZ(-5px);
}
h4{
    width: 86px;
    height: 24px;
    font-family: Space Mono;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #381664;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
/* Extras */
/* Some got shifted upwards */
h1:hover{
    cursor: pointer;
    filter: brightness(1.4);
}
.midimg:hover{
    animation: image 1.5s ease-in;
    animation-timing-function: linear;
}
@keyframes image {
    0%{
        transform: rotate(0deg) scale(1);
    }
    25%{
        transform: rotate(7deg) scale(1.07);
    }
    50%{
        transform: rotate(0deg) scale(1);
    }
    75%{
        transform: rotate(-7deg)  scale(1.07);
    }
    100%{
        transform: rotate(0deg) scale(1);
    }
}
@media screen and (max-width: 768px){
    body{
            width: 768px;
            padding-left: 12px;
            padding-right: 12px;
    }
    .container,.container2,.content,.container3{
        width: 700px;
        padding-left: 12px;
        padding-right: 12px;
        height: auto;
    }
    h1{
        font-size: 29px;
    }
    .title{
        padding-right: 80px;
    }
    h2{
        font-size: 18px;
        font-weight: 200;
    }
    .first{
        width: 700px;
        padding: 0;
        gap: 0px;
        height: 580px;
    }
    h5{
        width: 700px;
        font-size: 60px;
        padding: 0;
        line-height: 72px;
        margin: 0;
        height: 160px;
    }
    .container{
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .container2{
        height: 4300px;
    }
    .content{
        height: 4300px;
    }
    .s1{
        width: 678px;
        height: auto;
        margin: 0;
        padding-bottom: 0;
    }
    .second{
        width: 700px;
        padding: 35px 0 0 0;
        margin: 0;
        gap: 0;
        height: 4300px;
    }
    .row1,.row2,.row3{
        width: 700px;
        display: flex;
        flex-direction: column;
        padding: 10px 10px 10px 0;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .third{
        width: 700px;
        display: flex;
        align-items: center;
        padding: 30px 0 0 0;
        height: 400px;
    }
    .space{
        display: none;
    }
    .para{
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 0;
        font-weight: 500;
    }
    .fourth{
        width: 700px;
    }
    .tophead{
        width: 700px;
        text-align: center;
        font-size: 32px;
    }
    .bothead{
        width: 700px;
        display: flex;
        padding: 0;
        margin: 0;
        gap: 0;
    }
    .fourtext{
        width: 150px;
    }
    .bot1,.bot2,.bot3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .foot{
        width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
